.chart-container {
    width: 33vw;
}

@media all and (max-width: 980px) { 
    .chart-container {
        width: 75vh;
        height: 50vh;    
    }
 }
 
 .hide {
    display: none;
}

 .show {
     display: block;
 }
