h1, h2, h3, h4, h5, h6, h7, p, small {
    font-family: 'Noto Sans', sans-serif;
}

p {
    font-size: 1.7vh;
}

.container {
    width: 33vw;
}

.buttons-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

div.button {
    display:inline-block;
    color:#3A3A3C;
    border:1px solid #25AAE1;
    background:#fefefe;
    box-shadow: 0 0 5px -1px rgba(39,169,224,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100%;
    padding: 5px;
    text-align: center;
}

.buttons-group {
    display: flex;
    justify-content: space-between;
}

.chart-container {
    width: 33vw;
}

@media all and (max-width: 980px) { 
    .chart-container {
        width: 75vh;
        height: 50vh;    
    }
 }
 
 .hide {
    display: none;
}

 .show {
     display: block;
 }
